VITE_SUPABASE_URL=https://sfpugbjmfialvchxgcki.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_iXW72a1k6EjDkV2vIL5HRw_zISja7kd
ELIZA_API_URL=http://localhost:3000
VITE_GEMINI_API_KEY=AIzaSyCaEipgUeXwSHmeW1eq3i_I717zPgLGvAM
VITE_VAPI_PUBLIC_KEY=a11ccc22-012c-4915-9754-e8f342d56154
VITE_VAPI_AGENT_ID=068d64cb-98be-4951-92aa-40ed44ba13c8
VAPI_ASSISTANT_ID=068d64cb-98be-4951-92aa-40ed44ba13c8
VAPI_PHONE_NUMBER_ID=8880a538-6d75-413f-881b-53c9c5c0e447
VAPI_API_KEY=9b9e2bc2-6f44-4a85-b8ad-4e126e366966
SUPABASE_SERVICE_ROLE_KEY=sb_secret_BpQciZnAtqNmeqHUZ0bmIw_m9vX98F6
rag_query=https://grisel-unprescient-undelayingly.webhook